# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Git
.git
.gitignore

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Uploads
uploads/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db